---
name: tests_octave

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request:
    branches: ['*']

jobs:
  test:

    runs-on: ubuntu-latest

    steps:

    - name: Install dependencies
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y install octave liboctave-dev

    - name: Clone spm_2_bids
      uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 2

    - name: get bids-matlab and JSONio
      run: make install_dev_octave

    - name: MOxUnit Action
      uses: joergbrech/moxunit-action@v1.3.0
      with:
        tests: tests
        src: src src/defaults src/utils
        ext: lib/JSONio lib/bids-matlab tests/utils
        with_coverage: true
        cover_xml_file: coverage.xml

    - name: Code coverage
      uses: codecov/codecov-action@v5
      with:
        file: coverage.xml
        flags: ubuntu-latest_octave
        name: codecov-umbrella
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
